
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
	--pink-color: #f2726a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 300px;
	height: 400px;
	border-radius: 10px;
	text-align: center;
	background-color: #242628;
	box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
	margin: 0 30px;
}

.card__img {
	width: 120px;
	height: 120px;
	overflow: hidden;
	transition: 0.25s;
	margin: 0 auto;
	transform: translateY(25px);
	border-radius: 50%;
	border: 4px solid var(--pink-color);
	cursor: pointer;
}

.card__img:hover {
	width: 100%;
	height: 100%;
	border-radius: unset;
	border: unset;
	transform: unset;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

h2 {
	color: white;
	margin-top: 40px;
}

p {
	color: var(--pink-color);
}

.card__social a {
	text-decoration: none;
	color: white;
	margin: 25px 20px 40px;
	display: inline-block;
	font-size: 18px;
	transition: 0.25s;
}

.card__social a:hover {
	color: var(--pink-color);
}

button {
	outline: none;
	border: none;
	color: white;
	background-color: transparent;
	border: 1px solid var(--pink-color);
	padding: 10px 20px;
	border-radius: inherit;
	cursor: pointer;
	transition: 0.25s;
}

button:hover {
	background-color: var(--pink-color);
}
.toggle {
    position: absolute;
	margin: -5px 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 35px;
    height: 35px;
    top: 20px;
    border-radius: 50%;
    color: var(--primary-color);
    box-shadow: var(--outer-shadow);
    border: 2px solid var(--bg-main);
    cursor: pointer;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .1s linear;
}

.toggle__theme {
    right: 20px;
}

.app.dark .toggle {
    color: var(--bg-main);
    border: 2px solid var(--bg-dark);
}

.toggle__theme:hover,
.toggle__back:hover {
    box-shadow: var(--outer-shadow-o);
}

.app.dark .toggle__theme,
.app.dark .toggle__back {
    box-shadow: var(--outer-shadow-dark);
}

.app.dark .toggle__theme:hover,
.app.dark .toggle__back:hover {
    box-shadow: var(--outer-shadow-dark-o);
}

.toggle__theme .fas,
.toggle__back .fas {
    font-size: 2rem;
}
 body.dark {
            background: #0b1727;
            color: #fff;
			transition: 0,5s;
        }
     
        }
 @media (max-width: 900px) {
   .toggle__theme .fas{
     transform: translateX(920px);
   }
 }
  